* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(235, 235, 235);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

li {
    list-style: none;
}

div {

}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;

}

.sidebar-container {
    background-color: #0ea5e9;
    color: white;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    gap: 35px;
}

.logo-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 600;
}

.logo-container p {
    align-self: center;
}

.dashboard-logo {
    fill: white;
    width: 40px
}

.sidebar-container a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.nav-icons {
    fill: white;
    width: 20px;
}

.nav {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 20px;
    gap: 20px
}

.nav a{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: end;
}

.settings {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 20px;
    padding-top: 20px;
    gap: 20px
}

.settings a{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: end;
}

.main-container {
    background-color: #e2e8f0;
    color: black;
}


.header {
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 1fr 2fr;
}


.sub-header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 110px;
    padding: 15px 0;
}

.search {
    display: grid;
    grid-template-columns: 20px minmax(450px, 700px);
    gap: 10px;
    align-items: center;
    padding-left: 30px;
}

.search-bar {
    height: 25px;
    border-style: none;
    border-radius: 15px;
    background-color: #e2e9f1;
}

input[type="text"] {
    padding:15px; /*Gives text more room in search bar*/
}

.profile {
    display: grid;
    grid-template-columns: 20px 35px minmax(150px, 1fr); 
    align-items: center;
    gap: 30px;

}

.profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;

}